[submodule "vim/vimfiles/bundle/fugitive"]
	path = vim/vimfiles/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/vimfiles/bundle/nerdtree"]
	path = vim/vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vimfiles/bundle/vim-colors-solarized"]
	path = vim/vimfiles/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/syntastic"]
	path = vim/vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vimfiles/bundle/git"]
	path = vim/vimfiles/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/vimfiles/bundle/ultisnips"]
	path = vim/vimfiles/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/vimfiles/bundle/vim-snippets"]
	path = vim/vimfiles/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/vimfiles/bundle/tcomment"]
	path = vim/vimfiles/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/vimfiles/bundle/surround"]
	path = vim/vimfiles/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vimfiles/bundle/gundo"]
	path = vim/vimfiles/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/vimfiles/bundle/latex-box"]
	path = vim/vimfiles/bundle/latex-box
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
